.comment {
    padding: 20px;
    background-color: #fff;
    width: 500px;
    border: 1px solid #000000;
    margin: 10px;
    text-align: left;
}

.comment>p {
    font-weight: 800;
    margin: 10px;
}

.comment-head {
    display: flex;
    justify-content: space-between;
}

.comment-head img {
    border-radius: 40%;
    margin-right: 10px;
    width: 30px;
}